<div class="form">
  <div class="form-group">
    <label for="isbn" class="label">ISBN</label>
    <input type="text" class="input" id="isbn" aria-describedby="ISBN" placeholder="isbn">
  </div>
  <div class="form-group">
    <label for="titulo" class="label">Título</label>
    <input type="text" class="input" id="titulo" aria-describedby="Iítulo" placeholder="título">
  </div>
  <div class="form-group">
    <label for="autor" class="label">Autor</label>
    <input type="text" class="input" id="autor" aria-describedby="Autor" placeholder="autor">
  </div>
  <div class="form-group">
    <label for="editora" class="label">Editora</label>
    <input type="text" class="input" id="editora" aria-describedby="Editora" placeholder="editora">
  </div>

  <button class="button">
    <span>cadastrar</span>
  </button>
</div>
