<div class="form">
  <div class="form-group">
    <label for="email" class="label">Email</label>
    <input type="text" class="input" id="email" aria-describedby="Email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="emprestimo" class="label">Empréstimo</label>

    <select id="emprestimo" class="select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <button class="button">
    <span>renovar</span>
  </button>
</div>
