<div class="form">
  <div class="form-group">
    <label for="email" class="label">Email</label>
    <input type="text" class="input" id="email" aria-describedby="Email" placeholder="email" name="email" [(ngModel)]="email" (change)="updateInfo()">
  </div>
  <div class="form-group">
    <label for="emprestimo" class="label">Empréstimo</label>

    <select id="emprestimo" class="select" [(ngModel)]="selectedLoan">
      <option value="" disabled selected>Selecione</option>
      <option [value]="loan['Codigo']" *ngFor="let loan of loans">Exemplar: {{ loan['Nro_Exemplar'] }} - ISBN: {{ loan['ISBN'] }}</option>
    </select>
  </div>
  <button class="button" (click)="renewLoan()">
    <span>renovar</span>
  </button>
</div>
