<div class="form">
  <div class="form-group">
    <input type="text" class="input" id="pesquisar" aria-describedby="Pesquisar" placeholder="pesquisar">
    <button type="submit" class="button">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>
</div>
<div class="list">
  <table class="table">
    <thead class="thead">
      <tr class="row">
        <th scope="col">#</th>
        <th scope="col">Exemplar</th>
        <th scope="col">ISBN</th>
        <th scope="col">Associado</th>
        <th scope="col">Empréstimo</th>
        <th scope="col">Devolução</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row">
        <th scope="row">1</th>
        <td>Exemplar</td>
        <td>ISBN</td>
        <td>Associado</td>
        <td>Empréstimo</td>
        <td>Devolução</td>
        <td>
          <a href="#">
            <div class="icon-view icon-info icon-info-view">
              <i class="fa fa-info fa-fw"></i>
            </div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
