<div class="form">
  <div class="form-group">
    <label for="numero" class="label">Número</label>
    <input type="number" class="input" id="numero" aria-describedby="Número" placeholder="número">
  </div>
  <div class="form-group">
    <label for="isbn" class="label">ISBN</label>

    <select id="isbn" class="select" aria-describedby="ISBN">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="preco" class="label">Preço</label>
    <input type="number" class="input" id="preco" aria-describedby="Preço" placeholder="preco">
  </div>
  <button class="button">
    <span>cadastrar</span>
  </button>
</div>
