<div class="form">
  <div class="form-group">
    <label for="nome" class="label">Nome</label>
    <input type="text" class="input" id="nome" aria-describedby="Nome" placeholder="nome">
  </div>
  <div class="form-group">
    <label for="funcao" class="label">Função</label>

    <select id="funcao" class="select" aria-describedby="Função">
      <option value="gerente">Gerente</option>
      <option value="funcionario">Funcionário</option>
    </select>
  </div>
  <div class="form-group">
    <label for="email" class="label">Email</label>
    <input type="text" class="input" id="email" aria-describedby="Email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="password" class="label">Senha</label>
    <input type="password" class="input" id="password" placeholder="senha">
  </div>

  <button class="button">
    <span>cadastrar</span>
  </button>
</div>
