<div class="form">
  <div class="form-group">
    <label for="email" class="label">Email</label>
    <input type="text" class="input" id="email" aria-describedby="Email" placeholder="email" name="email" [(ngModel)]="reserve.email">
  </div>
  <div class="form-group">
    <label for="emprestimo" class="label">Publicação</label>

    <select id="emprestimo" class="select" [(ngModel)]="reserve.selectedPub">
      <option value="" disabled selected>Selecione</option>
      <option [value]="publication['ISBN']" *ngFor="let publication of publications">{{ publication['Titulo'] }} - {{ publication['Autor'] }}</option>
    </select>
  </div>
  <button class="button" (click)="createReserve()">
    <span>reservar</span>
  </button>
</div>
