<div class="form">
  <div class="form-group">
    <label for="nome" class="label">Nome</label>
    <input type="text" class="input" id="nome" aria-describedby="Nome" placeholder="nome">
  </div>
  <div class="form-group">
    <label for="endereco" class="label">Endereço</label>
    <input type="text" class="input" id="endereco" aria-describedby="Endereço" placeholder="endereço">
  </div>
  <div class="form-group">
    <label for="email" class="label">Email</label>
    <input type="text" class="input" id="email" aria-describedby="Email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="status" class="label">Status</label>

    <select id="status" class="select">
      <option value="Grad">Graduação</option>
      <option value="Posgrad">Pós-Graduação</option>
      <option value="Prof">Profess@r</option>
    </select>
  </div>
  <button class="button">
    <span>cadastrar</span>
  </button>
</div>
