<div class="form">
  <button type="submit" class="button" (click)="reloadContent()">
    <i class="fal fa-redo-alt fa-fw"></i>
  </button>

  <div class="form-group">
    <input type="text" class="input" id="pesquisar" aria-describedby="Pesquisar" placeholder="exemplar" [(ngModel)]="search">
    <button type="submit" class="button" (click)="searchExemplary()">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>
</div>
<div class="list">
  <table class="table">
    <thead class="thead">
      <tr class="row">
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Titulo</th>
        <th scope="col">Exemplar</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row" *ngFor="let exemplary of exemplaries;">
        <th scope="row">#</th>
        <td>{{ exemplary['ISBN'] }}</td>
        <td>{{ exemplary['publication']['Titulo'] }}</td>
        <td>{{ exemplary['Numero'] }}</td>
        <td>{{ exemplary['status'] }}</td>
        <td>
          <div class="icon-view icon-info icon-info-view">
            <i class="fa fa-info fa-fw"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
