<div class="form">
  <div class="form-group">
    <input type="text" class="input" id="pesquisar" aria-describedby="Pesquisar" placeholder="pesquisar" [(ngModel)]="search">
    <button type="submit" class="button" (click)="searchPublication()">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>
</div>
<div class="list">
  <table class="table">
    <thead class="thead">
      <tr class="row">
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Editora</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="tbody">

      <tr class="row" *ngFor="let publication of publications;">
        <th scope="row">#</th>
        <td>{{ publication['ISBN'] }}</td>
        <td>{{ publication['Titulo'] }}</td>
        <td>{{ publication['Autor'] }}</td>
        <td>{{ publication['Editora'] }}</td>
        <td>
          <a href="#">
            <div class="icon-view icon-info icon-info-view">
              <i class="fa fa-info fa-fw"></i>
            </div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
