<div class="form">
  <button type="submit" class="button" (click)="reloadReserves()">
    <i class="fal fa-redo-alt fa-fw"></i>
  </button>

  <div class="form-group">
    <input type="text" class="input" id="pesquisar" aria-describedby="Pesquisar" placeholder="pesquisar" [(ngModel)]="searchTerm">
    <button type="submit" class="button" (click)="searchReserve()">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>
</div>
<div class="list">
  <table class="table">
    <thead class="thead">
      <tr class="row">
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Email</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row" *ngFor="let reserve of reserves">
        <th scope="row">#</th>
        <td>{{ reserve.isbn }}</td>
        <td>{{ reserve.associado }}</td>
        <td>{{ reserve.data }}</td>
        <td>{{ reserve.status }}</td>
        <td>
          <div class="icon-view icon-info icon-info-danger" (click)="removeReserve(reserve.codigo)">
            <i class="fal fa-trash-alt fa-fw"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
