@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

::ng-deep *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::ng-deep :root{
  --background-color-primary: #f5f5f5;
  --background-color-secondary: #fafafa;
  --background-color-tertiary: #ffffff;

  --text-color-primary: #242324;
  --text-color-secondary: #555555;
  --text-color-tertiary: #979797;

  --color-primary: #01c29a;
  --color-secondary: #019174;

  --success-color: #36b37e;
  --success-color-dark: #278b61;
  --warning-color: #ff991f;
  --warning-color-dark: #db8419;
  --danger-color: #de350b;
  --danger-color-dark: #b32b09;
  --info-color: #6554c0;
  --info-color-dark: #4e3dac;

  --transition-time: 0.4s;
  --transition-timing-function: ease-in-out;
}

.main{
  width: calc(100% - 300px);
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.footer{
  width: calc(100% - 300px);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
